@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@font-face {
  font-family: 'Billion Dreams';
  src: url('/src/fonts/BillionDreams.ttf');

}
@font-face{
    font-family: 'Sunday Best';
    src: url('/src/fonts/SundayBest.ttf');
}

html {
  background-color: rgb(175, 135, 103);
}
h1{
  font-family: 'Billion Dreams';
  font-size: 5ch;
  margin-bottom: 0;
  margin-right: 80%;
}
h2 {
  font-size: 1.5ch;
  font-family: 'Sunday Best';
  span {
    font-family: 'Billion Dreams';
    background:linear-gradient(90deg, rgba(92,223,131,1) 0%, rgba(25,87,116,1) 88%, rgba(12,48,52,1) 100%);
    background-clip:border-box ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3ch;
    
  }
}

h3 {
  font-family: 'Yusei Magic';
  font-size: 2ch;
}

.app_container {
  margin: 4% 10%;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(73,28,11);
  background: linear-gradient(128deg, rgba(73,28,11,1) 0%, rgba(176,43,38,1) 62%, rgba(209,61,28,1) 100%);
  
}

.container {

  display: flex;
  width: 100%;
  height: 100%;
  justify-self: center;
  justify-content: center;
  border-radius: 5px;

}

.MuiPaper-root {
  margin: 2%;
  width: 50%;
  min-height: 90%;
  max-width: 80%;
  min-width: 60%;
  border: rgb(56, 51, 51) solid 1px;
  border-radius: 5px;
  justify-items: center;
  justify-content: space-around;
  box-shadow: 25px 25px black;

}

.MuiGrid-root.MuiGrid-container{
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  align-items: flex-start;
}

.fam {
  background-color: blue;
  height: 19vh;
}

//  .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// .tetetete{} 