@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@font-face {
  font-family: 'Billion Dreams';
  src: url("/src/fonts/BillionDreams.ttf");
}

@font-face {
  font-family: 'Sunday Best';
  src: url("/src/fonts/SundayBest.ttf");
}

@font-face {
  font-family: 'Rashkey';
  src: url("/src/fonts/Rashkey.ttf");
}

html {
  background: #491c0b;
  background: linear-gradient(128deg, #491c0b 0%, #b02b26 62%, #d13d1c 100%);
  height: 100%;
}

header {
  height: 10vh;
  margin-top: -1%;
  width: 100%;
  -webkit-box-shadow: black 0px 5px 12px;
          box-shadow: black 0px 5px 12px;
  background-color: rgba(250, 235, 215, 0.767);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body {
  width: 100%;
}

h1 {
  font-family: 'Rashkey';
  font-size: 7ch;
  margin-bottom: 0;
  margin-right: 70%;
}

h2 {
  font-size: 2ch;
  font-family: 'Sunday Best';
}

h2 span {
  font-family: 'Billion Dreams';
  background: -webkit-gradient(linear, left top, right top, from(#5cdf83), color-stop(88%, #195774), to(#0c3034));
  background: linear-gradient(90deg, #5cdf83 0%, #195774 88%, #0c3034 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3ch;
}

h3 {
  font-family: 'Sunday Best';
  font-size: 1.3ch;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.MuiPaper-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1%;
  width: 100%;
  min-height: 300px;
  max-width: 1600px;
  min-width: 300px;
  border: #383333 solid 1px;
  border-radius: 5px;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 25px 25px black;
          box-shadow: 25px 25px black;
}

.MuiGrid-root.MuiGrid-container {
  padding: 1%;
  font-family: 'Roboto', sans-serif;
}

.fam {
  height: 19vh;
}

.tasks_bar {
  background-color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  border-radius: 5px;
}

.tasks_bar -webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.tasks_bar -webkit-scrollbar-thumb {
  background: brown;
}

.task {
  list-style: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 13vw;
  height: 17vh;
  background-color: rgba(235, 223, 223, 0.479);
  margin: 1px;
  border-radius: 5px;
}

.container-nir {
  background: linear-gradient(128deg, #eb5f2a 0%, #e1544fe3 62%, #9b1c0042 100%);
}
/*# sourceMappingURL=App.css.map */