@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@font-face {
  font-family: 'Billion Dreams';
  src: url('/src/fonts/BillionDreams.ttf');

}
@font-face {
  font-family: 'Sunday Best';
  src: url('/src/fonts/SundayBest.ttf');
}
@font-face {
  font-family: 'Rashkey';
  src: url('/src/fonts/Rashkey.ttf');
}
@font-face {
  font-family: 'Stay Home';
  src: url('/src/fonts/STAYHOMERegular.ttf') format('truetype'),
       url('/src/fonts/STAYHOMERegular.woff') format('woff'),
       url('/src/fonts/STAYHOMERegular.woff2') format('woff2');
}

.stay_home_font{
  font-family: 'Stay Home';
  font-weight: bold;
  font-size: 3ch;
}

html {
  background: rgb(73, 28, 11);
  background: linear-gradient(128deg, rgba(73, 28, 11, 1) 0%, rgba(176, 43, 38, 1) 62%, rgba(209, 61, 28, 1) 100%);
  height: 100%;
}

header {
  height: 10vh;
  width: 100%;
  box-shadow: black 0px 5px 12px;
  background-color: rgba(0, 183, 255, 0.048);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: flex-end;


}

.border_bottom{
  border-bottom: 1px solid rgba(0, 0, 0, 0.425);
  border-bottom-left-radius: 5px;
}

h1 {
  margin-top: 1%;
  font-family: 'Rashkey';
  font-size: 7ch;
  // margin-top: 3px;
}

h2 {
  font-size: 2ch;
  font-family: 'Sunday Best';

  span {
    font-family: 'Rashkey';
    background: linear-gradient(90deg, rgba(92, 223, 131, 1) 0%, rgba(25, 87, 116, 1) 88%, rgba(12, 48, 52, 1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5ch;
    position: relative;

  }
}

h3 {
  font-family: 'Sunday Best';
  font-size: 1.3ch;
}

// .app_container {
//   // margin: 1% 10%;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   // border: rgb(0, 0, 0) solid 3px;
//   // border-radius: 5px;
//   // box-shadow: rgb(0, 0, 0) 0px 10px 16px 7px;

// }

.container {

  display: flex;
  width: 100%;
  height: 100%;
  justify-self: center;
  justify-content: center;
  border-radius: 5px;

}

.MuiPaper-root {
  display: flex;
  margin: 1%;
  width: 100%;
  min-height: 300px;
  min-width: 300px;
  border: rgb(56, 51, 51) solid 1px;
  border-radius: 5px;
  justify-items: center;
  justify-content: space-around;
  box-shadow: 25px 25px black
}


.fam {
  height: 19vh;
}


.tasks_bar {

  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  border-radius: 5px;

  -webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  -webkit-scrollbar-thumb {
    background: brown;
  }

}

.task {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 13vw;
  height: 17vh;
  background-color: rgba(102, 102, 102, 0.979);
  margin: 2px;
  border-radius: 5px;

  .text{
    
    width: 100%;
    word-wrap: break-word;
    background-color: aqua;}


  .info_dots_btn{
    width: 10%;
  }
}


// .container-nir {

// }