@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@font-face {
  font-family: 'Billion Dreams';
  src: url('/src/fonts/BillionDreams.ttf');

}
@font-face{
    font-family: 'Sunday Best';
    src: url('/src/fonts/SundayBest.ttf');
}

html {
  background-color: rgb(229, 238, 240);
}
h1{
  font-family: 'Billion Dreams';
  font-size: 5ch;
  margin-top: 3px;
  margin-bottom: 0;
  margin-right: 70%;
}
h2 {
  font-size: 1.5ch;
  font-family: 'Sunday Best';
  span {
    font-family: 'Billion Dreams';
    background:linear-gradient(90deg, rgba(92,223,131,1) 0%, rgba(25,87,116,1) 88%, rgba(12,48,52,1) 100%);
    background-clip:border-box ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3ch;
    
  }
}

h3 {
  font-family: 'Sunday Best';
  font-size: 1.3ch;
}

.app_container {
  margin: 1% 10%;
  // width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(73,28,11);
  background: linear-gradient(128deg, rgba(73,28,11,1) 0%, rgba(176,43,38,1) 62%, rgba(209,61,28,1) 100%);
  border: rgb(0, 0, 0) solid 3px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 10px 16px 7px;
  
}

.container {

  display: flex;
  width: 100%;
  height: 100%;
  justify-self: center;
  justify-content: center;
  border-radius: 5px;

}

.MuiPaper-root {
  margin: 1%;
  width: 50%;
  min-height: 300px;
  max-width: 1024px;
  min-width: 300px;
  border: rgb(56, 51, 51) solid 1px;
  border-radius: 5px;
  justify-items: center;
  justify-content: space-around;
  box-shadow: 25px 25px black;
  margin-bottom: 5%;

}

.MuiGrid-root.MuiGrid-container{
  padding: 1%;
  font-family: 'Roboto', sans-serif;
}

.fam {
  height: 19vh;
}

.board{
  background-color: brown;
  width: 80%;
}
.tasks_bar{
  :first-child{
    padding-left: 15px;
  }
  background-color: rgb(100, 100, 100);
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  border-radius: 5px;
  -webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  -webkit-scrollbar-thumb{
    background: brown;
  }
  
}
.task{
  list-style: none;
  flex-shrink: 0;
  width: 10vw;
  height: 15vh;
  background-color: rgba(235, 223, 223, 0.479);
  margin: 1px;
  border-radius: 5px;
}

.pages-enter {
  opacity: 0.01;
}

.pages-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
//  .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// .tetetete{} 