@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

html{
  background-color: rgb(223, 228, 156);
}
h2{
  font-family: 'Yusei Magic', sans-serif;
  font-size: 3vw;
}
.app_container{
  margin: 2% 10%;
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  border-top: black 3vh solid;
  background-color: rosybrown;



}
.container {

  width: 30%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  background-color: antiquewhite;
  border: rgb(56, 51, 51) solid 1px;
  border-radius: 5px;

}
.container  * {
  padding: 3px;
}
.MuiFormControl-root{
  margin:1vw;
  
}
.fam{
  background-color: blue;
  height: 19vh;
  
}

//  .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// .tetetete{} 